.task {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--gray-500);
    border-radius: .5rem; 
}

.task > div {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.checkbox label {
    display: block;
    position: relative;
    padding-left: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox input:checked ~ .checkmark {
    background-color: var(--purple-dark);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 999px;
    border: 2px solid var(--purple-dark);
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox .checkmark:after {
    left: 3px;
    top: -2px;
    width: 4px;
    height: 9px;
    border: solid var(--gray-100);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox p {
    color: var(--gray-100);
}